/* 
    Created on : Sep 19, 2016, 4:32:26 PM
    Author     : andi
*/

body {
  padding-top: 70px;
  padding-bottom: 20px;
}
.navbar {
    background-image: linear-gradient(to bottom, #54b4eb, #2fa4e7);
    background-repeat: repeat-x;
    border: 1px solid #1684c2;
}

.navbar-brand {
    color: white;
}
